body {
    text-align: center;
}

.icon-close {
    cursor: pointer;
    width: 30px;
}

.container-login {
    display: inline-flex;
    justify-content: space-between;
    width: 470px;
    margin: 20px auto;
}

.container-login h2 {
    margin: auto;
}

.text-introduce {
    margin: 0 auto;
    border-top: 1px solid lightgray;
    width: 570px;
    padding-top: 35px;
    padding-bottom: 15px;
    color: grey;
}

.input-idpassword {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 10px;
    width: 450px;
    height: 55px;
    font-size: 16px;
}

.btn-login {
    border: none;
    border-radius: 8px;
    width: 470px;
    height: 55px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    background-color: #000000;
    color: white;
}

.box-signup {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px auto;
    width: 440px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.box-signup div {
    display: flex;
    align-items: center;
}

.box-signup img {
    margin-left: 5px;
    width: 7px;
}

#inputIdMessage, 
#inputPasswordMessage1 {
    margin: auto;
    width: 470px;
    text-align: left;
    margin-left: 5px;
}

