body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.search-result-text {
    font-size: 30px;
    margin: 60px 0;
}
.search-term {
    font-weight: bold;
}

.result-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}
.product-count {
    font-size: 18px;
}
#product-count-text {
    font-weight: bold;
}
.sort-options {
    display: flex;
    align-items: center;
}
.sort-select {
    font-size: 16px;
    padding: 5px;
}
.arrow-icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}
.sort-select {
    border: none; /* 기본 테두리 제거 */
    outline: none; /* 포커스 시 테두리 제거 */
    padding: 8px 12px; /* 여백 설정 */
    background-color: #fff; /* 배경색 설정 */
    color: #333; /* 글자색 설정 */
    font-size: 18px;
}



.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  /* 가로로 5개의 열 */
    gap: 20px; /* 각 상품 간격 */
    width: 75%;
    margin: 20px auto; /* 페이지 중앙 정렬 */
}

.product-item {
    text-align: center;
}
.product-item {
    text-align: left; /* 텍스트를 왼쪽 정렬 */
}
.product-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-image {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
}

.product-icons {
    position: absolute;
    bottom: -100px; /* 아이콘들이 기본적으로 숨겨져 있는 위치 */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    transition: bottom 0.3s ease-in-out; /* 슬라이드 애니메이션 */
    background: #CFF7D3;
    padding: 7px 0;
}

.product-image-container:hover .product-icons {
    bottom: 0;  /* 마우스 오버 시 아이콘들이 올라오는 위치(0이면 맨 밑에서 올라옴) */
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin: 0 15px;
    border-radius: 50%;     /* 원형 배경 */
}

.icon img {
    width: 27px; /* 아이콘 이미지의 너비 */
    height: 27px; /* 아이콘 이미지의 높이 */
}

.icon:hover img {
    filter: brightness(0.8);     /* 호버 시 이미지 밝기 감소 */
}

.icon:hover {
    background-color: #f0f0f0;
    transition: background-color 0.2s;
    cursor: pointer;
}


.product-details {
    padding: 10px 0 0 0;
}
.product-name {
    font-size: 14px;
    margin: 0;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0 0;
    color: #000;
}